<section class="flight-table">
    <h2 class="Available-Flights">Available flights</h2>

    <mat-form-field appearance="standard">
        <mat-label>Search flight</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. #f69" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="flightNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight # </th>
                <td mat-cell *matCellDef="let row"> {{row.flightNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="departAirport.city.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dep. city </th>
                <td mat-cell *matCellDef="let row"> {{row.departAirport.city.name + ' ( ' + row.departAirport.code + ' )'}} </td>
            </ng-container>

            <ng-container matColumnDef="arrivalAirport.city.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arr. city </th>
                <td mat-cell *matCellDef="let row"> {{row.arrivalAirport.city.name + ' ( ' + row.arrivalAirport.code + ' )'}} </td>
            </ng-container>

            <ng-container matColumnDef="departDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dep. date </th>
                <td mat-cell *matCellDef="let row"> {{row.departDateTime | date: 'M/d/yy, h:mm a'}} </td>
            </ng-container>

            <ng-container matColumnDef="arrivalDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arr. date </th>
                <td mat-cell *matCellDef="let row"> {{row.arrivalDateTime | date: 'M/d/yy, h:mm a'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</section>